:root {
  --beige: #f3e5da;
  --white: #ffffff;
  --black: #000000;
  --grey: #d9d9d9;
}

@font-face {
  font-family: "Italiana";
  src: local("Italiana-Regular"),
    url(./fonts/Italiana-Regular.ttf) format("woff");
}

@font-face {
  font-family: "IstokWeb";
  src: local("IstokWeb-Regular"),
    url(./fonts/IstokWeb-Regular.ttf) format("woff");
}

body {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  margin: 0;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title {
  color: var(--black);
  font-family: "Italiana";
}

.header__welcome {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0.25em;
}

.cards__wrapper,
.form_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 62.5em;
  min-width: 70vw;
  min-height: 45vh;
}

.card {
  padding: 1.5em;
  /*border: 6px solid var(--beige);*/
  /*width: 15.625em;*/
  /*height: 15.625em;*/
  max-width: 15.625em;
  min-width: 11.25em;
  /*border-radius: 7px;*/
  background: var(--white);
  margin-bottom: 1em;
  /*box-shadow: 0 4px 8px 0 rgb(13, 59, 102, 0.4);*/
  transition: 0.3s;
  margin: 0.5em;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgb(13, 59, 102, 0.9);
}

.card__text {
  color: var(--black);
  font-family: "IstokWeb";
  font-size: 1rem;
  margin: 0.2em;
}

.card__text__small {
  color: var(--black);
  font-family: "Italiana";
  font-size: 1rem;
  margin: 0.2em;
}

.card__header {
  font-size: 1.5rem;
  margin: 0.2em;
}

.card__image {
  /*width: 100%;*/
  width: 15.625em;
  height: 15.625em;
  max-width: 15.625em;
  min-width: 11.25em;
  /*border-radius: 5px;*/
  /*margin-top: 0.5em;
  margin-bottom: 0.5em;*/
}

.links {
  color: var(--black);
  font-family: "Italiana";
  font-size: 1.5em;
  text-decoration: none;
}

.links:hover {
  color: var(--grey);
}

.nav__container {
  background: var(--white);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  /*box-shadow: 0 3px 7px 0 rgb(13, 59, 102, 0.2);*/
}

.ul {
  padding: 0;
  list-style-type: none;
}

.ul__navbar {
  width: 100%;
  background: var(--beige);
}

.footer {
  line-height: 2em;
  margin-top: 0.5em;
  padding: 1em 3em;
  background: var(--beige);
}

.footer__section {
  min-width: 9.375em;
}

.icon {
  max-width: 1.875em;
}

.form_container,
.addEvents_form,
.login_form,
.signup_form {
  display: flex;
  flex-direction: column;
}

.form_container {
  padding: 1rem;
  align-items: center;
}

.validation_text {
  font-family: "IstokWeb";
}

label {
  text-align: left;
  padding: 1rem 0.25;
  font-family: "IstokWeb";
}

input,
textarea {
  margin: 0.5 rem 0;
  background-color: var(--beige);
  border-color: var(--grey);
  padding: 0.5rem;
  border-radius: 2px;
}

button {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.reserve_btn {
  background-color: var(--beige);
  border-color: var(--grey);
  cursor: pointer;
}

.submit_btn :disabled {
  background-color: var(--grey);
}

.submit_btn :hover {
  background-color: var(--beige);
}

.submit_btn,
.reserve_btn {
  font-family: "Italiana";
  font-size: 1rem;
  color: var(--black);
  font-weight: bold;
}

@media only screen and (max-width: 405px) {
  .header__title {
    padding-left: 1.5rem;
  }
}
